@model FinalASM.Models.TrainerEntity
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/ASM/_LayoutForAdmin.cshtml";
}


@Html.Partial("_PartialPageUserInfo")
<div class="manage">
    <img src="https://png.pngtree.com/png-vector/20190411/ourlarge/pngtree-business-male-icon-vector-png-image_916468.jpg" alt="Alternate Text" width="70%" height="auto" /> <br />
    <a class="btn btn-success" href="@Url.Action("DTrainer", new {id = TempData["TrainerId"]})" role="button">Go Back</a> <br />
</div>
<div class="show-info">
    <span class="title" style="margin: 5px 20%;">Change Trainer Infomation</span>
    <div class="info">
        @using (Html.BeginForm(FormMethod.Post))
        {
            @Html.LabelFor(m => m.Username) @Html.EditorFor(m => m.Username) <br />
            @Html.LabelFor(m => m.Password) @Html.EditorFor(m => m.Password) <br />

            <button type="submit" class="btn btn-success">Save</button>
        }
    </div>
</div>

