@model FinalASM.Models.TrainerEntity
@{
    ViewBag.Title = "ChangeProfile";
}

<div class="mt-2 ml-6 mr-6">

    @using (Html.BeginForm(FormMethod.Post))
    {

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Role)
        @Html.HiddenFor(m => m.Username)
        @Html.HiddenFor(m => m.Password)
        @Html.HiddenFor(m => m.CourseAssignId)


        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">ACCOUNT</th>

                </tr>
            </thead>

        </table>
        <div class="form-group row">
            <div class="form-group">
                @Html.LabelFor(m => m.Username, new { @class = "font-weight-bold" })
                @Html.EditorFor(m => m.Username,
                new
                {
                  htmlAttributes = new { @class = "form-control" }
                })

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "font-weight-bold" })
                @Html.EditorFor(m => m.Password,
                new
                {
                  htmlAttributes = new { @class = "form-control" }
                })

            </div>
        </div>

        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Information</th>


                </tr>
            </thead>

        </table>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "font-weight-bold" })
            @Html.EditorFor(m => m.Name,
            new
            {
              htmlAttributes = new { @class = "form-control", min = "0" }
            })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Type, new { @class = "font-weight-bold" })
            @Html.EditorFor(m => m.Type,
            new
            {
              htmlAttributes = new { @class = "form-control", min = "0" }
            })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.WorkingPlace, new { @class = "font-weight-bold" })
            @Html.EditorFor(m => m.WorkingPlace,
            new
            {
              htmlAttributes = new { @class = "form-control", min = "0" }
            })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Telephone, new { @class = "font-weight-bold" })
            @Html.EditorFor(m => m.Telephone,
            new
            {
              htmlAttributes = new { @class = "form-control", min = "0" }
            })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "font-weight-bold" })
            @Html.EditorFor(m => m.Email,
            new
            {
              htmlAttributes = new { @class = "form-control", min = "0" }
            })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Education, new { @class = "font-weight-bold" })
            @Html.EditorFor(m => m.Education,
            new
            {
              htmlAttributes = new { @class = "form-control", min = "0" }
            })
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    }

</div>
